header {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 20rem;

  &.Header-fullheight {
    min-height: 100vh;
  }

  > .Ascii {
    white-space: pre;
    font-size: 5px;
    line-height: 7px;
  }

  > .Headercontent {
    max-width: 480px;
    padding: 2rem;
  
    > h1 {
      color: $cyan; 
    }
  
    > p {
      margin-bottom: 1.3rem;
      line-height: 1.4;
  
      > a {
        color: $darkCyan;
        transition: all ease .1s;
  
        &:hover {
          color: $background;
          background-color: $darkCyan;
        }
      }
  
      > em {
        text-align: right;
        margin-left: auto;
        background-color: $red;
        padding: 0.1rem 1rem;
        border-radius: 100px;
      }
    }
  }
}

.ContentWrapper {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.06);

  > .Content {
    max-width: 600px;

    h1, h2, h3 {
      margin-top: 0;
    }

    p {
      line-height: 1.4;
    }
  }
}