<div class="Headercontent">
  <h1>Welcome to my ~</h1>
  <p>Hi, I'm Konsta.</p>
  <p>
    I'm a software engineer located in Turku, Finland.
    I build software as a profession and a hobby specializing in full-stack web-development.
  </p>
  <p>I work at <a href="https://identio.fi/en">Identio</a>.</p>
  <p>
    <em>– Konsta Purtsi</em>
  </p>
  <p>
    <a href="https://github.com/kovipu">GitHub</a>
    <a href="https://www.linkedin.com/in/konsta-purtsi/">LinkedIn</a>
    <a href="mailto:konsta.purtsi@gmail.com">Email</a>
  </p>
</div>